version: 2.1

jobs:
  lint-app:
    docker:
      - image: circleci/node:13.8.0
    steps:
      - checkout
  build-docker:
    machine: true
    steps:
      - checkout
      - run:
          name: Build docker container for the application
          command: |
            echo "--------- Installing dependencies-----------"
            sudo curl -LO https://nodejs.org/dist/v18.0.0/node-v18.0.0-linux-x64.tar.xz
            sudo tar -xvf node-v18.0.0-linux-x64.tar.xz
            sudo cp -r node-v18.0.0-linux-x64/{bin,include,lib,share} /usr/
            node --version => v18.0.0
            sudo apt install nodejs
            echo "--------- The images is Building ------------"
            docker build -t docker_cycle .
            docker tag docker_cycle opeyemiadeniji/devops-lifecycle
    
            echo "-------- All images succesfully built----------"
            echo " ------- login in to hub--------"
            docker login -u opeyemiadeniji -p $DOCKER_PASSWORD
            echo "-------------- Pushing images to dockerhub-------"
            docker push opeyemiadeniji/devops-lifecycle
workflows:
  default:
    jobs:
      - lint-app
      - build-docker:
          requires: [lint-app]
